extends ../layouts/default

block content
	.container: .jumbotron.text-center
		h1 Machine-Learning Portal
		p Welcome to the machine-learning blog that discusses the most widely-used machine-learning algorithms.
