extends ../layouts/default

block content
	.container 
		div.jumbotron.text-center
			h1 Machine-Learning Portal
			p Welcome to the machine-learning portal where we discuss the most widely-used machine-learning algorithms.
			hr
			p Check out the <a href="/blog">top algorithms</a>.
